
h1
{   
     text-align: center;
}


#tableau h2
{
     display: flex;
     align-items: center;
     margin-left: 12em;
     margin-right: 12em;
     border-collapse: collapse;
}

table
{
      border: 2px white solid;
}


td
{    
     background: rgb(149, 20, 20);
     border: 6px white solid;
     padding: 0.6em 0.6em 0.6em 0.6em;
}


tr
{
      background: rgb(33, 69, 33);
      border: 6px white solid;
      padding: 0.6em 0.6em 0.6em;
}

th
{
     background: whitesmoke;
     border: 6px white solid;
     padding: 0.6em 0.6em 0.6em;
}

body
{
     color: grey;
     background: black;
}

